target
WebContent/WEB-INF/classes
WebContent/WEB-INF/lib
*.iml
.idea/
.classpath
.project
.settings
bin
build.properties
*.bak
/.metadata
*.log
*/.gitignore
*.json
*/src/test/resources/*Auth**
*/src/test/resources/*auth*
*.DS_Store
*.xml.versionsBackup
